.topbar {
  height: 40px;
  border: 1px solid var(--boder-color);
  line-height: 40px;
  background-color: #fff;
}

.container {
  max-width: var(--container);
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.languageActive {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
